.products-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 7px;
  row-gap: 20px;
  padding-bottom: 60px;
}

.product {
  height: min-content;
  padding: 20px 20px 0;
  border-radius: 20px;
  transition: 0.3s ease;
}

.product:hover {
  padding: 15px 15px 0;
}

.product-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.description-wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.description-wrap p {
  color: rgb(112, 112, 112);
  margin-bottom: 0;
}

.description {
  display: flex;
  align-items: flex-start;
}

.description a {
  text-decoration: none;
  color: rgb(41, 41, 41);
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 8px;
  max-width: 238px;
}

.description span {
  margin-left: auto;
  margin-top: 8px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0;
  }
}

@media (max-width: 920px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }

  .product-image {
    height: 300px;
  }

  .product {
    padding: 10px 10px 0;
  }

  .section-title {
    margin: 15px 0;
  }
}

@media (max-width: 500px) {
  .products-container {
    grid-template-columns: 1fr;
  }
  .section-title {
    font-size: 30px;
  }
}

@media (max-width: 335px) {
  .section-title {
    font-size: 20px;
  }
}
