footer {
  background-color: #3c3c3c;
  height: 450px;
  font-weight: 300;
}

.footer-wrap {
  padding: 60px 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

.footer-wrap h6 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}

.socials h5 {
  margin: 10px 4px;
  font-size: 18px;
  font-weight: 300;
}

.socials button {
  background-color: #4a4a4a;
  border: none;
  margin: 4px;
  padding: 6px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: white;
}

.socials button:hover {
  background-color: #666666;
}

.account ul,
.about ul {
  padding: 0;
}

.account li,
.about li {
  list-style-type: none;
  padding: 5px 0;
  font-weight: 200;
}

.account li:hover,
.about li:hover {
  text-decoration: underline;
}

.account li a,
.about li a {
  text-decoration: none;
  color: white;
}

.copyright {
  text-align: end;
  color: grey;
}
