footer {
  background-color: #3c3c3c;
  font-weight: 300;
}

.footer-wrap {
  padding: 60px 0;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

.footer-item {
  width: 25%;
  padding: 0 15px;
}

.footer-wrap h6 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  margin: 10px 0;
}
.socials-wrap {
  width: 15%;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.socials h5 {
  margin: 10px 4px;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.socials-buttons-wrap {
  display: flex;
}

.socials button {
  background-color: #4a4a4a;
  border: none;
  margin: 4px;
  padding: 6px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.socials button:hover {
  background-color: #666666;
}

.account ul,
.about ul {
  padding: 0;
}

.account li,
.about li {
  list-style-type: none;
  padding: 5px 0;
  font-weight: 200;
  transition: 0.3s;
}

.account li:hover,
.about li:hover {
  margin-left: 5px;
}

.account li a,
.about li a {
  text-decoration: none;
  color: white;
}

.copyright {
  text-align: end;
  color: grey;
  margin: 0;
  padding: 15px 0;
}

@media (max-width: 760px) {
  .footer-item {
    width: 50%;
  }

  .socials {
    justify-content: flex-start;
  }

  .socials h5 {
    text-align: start;
  }
}

@media (max-width: 460px) {
  .footer-item {
    width: 100%;
  }
}
