.hero {
  height: 920px;
  background-image: url(../assets/hero.jpg);
  padding-top: 80px;
  background-size: cover;
  background-position: top left;
}

.title {
  width: 700px;
  margin: 0 60px;
  padding: 50px 0;
}

.hero-title {
  color: white;
  font-size: 60px;
  font-weight: 200;
  line-height: 80px;
  margin: 0 60px;
  padding-bottom: 60px;
  text-transform: uppercase;
}

.bg-color {
  background-color: #d8d4d4;
  position: relative;
  overflow: hidden;
}

.popup {
  position: fixed;
  display: flex;
  bottom: 30px;
  left: 30px;
  background-color: #f5efef;
  border-radius: 10px;
  padding: 20px;
  width: 380px;
  height: 200px;
  z-index: 100;
}

.popup h3 {
  display: flex;
  justify-content: center;
  width: 22%;
  transform: rotate(-90deg);
  font-size: 60px;
  margin: 0;
  padding-top: 25px;
}

.number-wrap {
  display: flex;
  justify-content: center;
  height: 78%;
}

.number-wrap .number {
  font-size: 94px;
}

.popup div .discount-wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

.popup div .discount-wrap span:first-of-type {
  position: absolute;
  top: 22px;
}

.popup div .discount-wrap span {
  font-size: 38px;
  margin-bottom: 14px;
}

.right-section {
  width: 78%;
  display: flex;
  justify-content: center;
}

.right-section p {
  position: absolute;
  bottom: 17px;
  font-size: 18px;
}

.right-section p span {
  color: red;
}

.popup button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media (min-width: 2900px) {
  .hero {
    height: 1000px;
    background-position: 50% 50%;
  }
}

@media (min-width: 2500px) {
  .hero {
    height: 1000px;
    background-position: 50% 50%;
  }

  .title {
    margin-left: 200px;
    margin-top: 70px;
    width: 900px;
  }

  .hero-title {
    font-size: 80px;
  }
}

@media (max-width: 760px) {
  .title {
    width: 500px;
  }

  .hero-title {
    font-size: 45px;
  }
}

@media (max-width: 590px) {
  .hero {
    background-position: 14% 50%;
  }

  .title {
    width: fit-content;
  }

  .hero-title {
    margin: 0;
    line-height: 60px;
  }

  .hero-button {
    margin: 0;
    padding: 5px 18px;
  }
}

@media (max-width: 435px) {
  .hero {
    height: 600px;
  }

  .hero-title {
    font-size: 30px;
  }
}
