.section-wrapper {
  display: flex;
  justify-content: flex-end;
  column-gap: 90px;
  color: rgb(241, 240, 236);
}

.section-wrapper img {
  width: 65%;
  height: 600px;
  object-fit: cover;
  object-position: 40% 74%;
  z-index: 2;
}

.section-wrapper .text-wrap {
  max-width: 500px;
  z-index: 10;
  color: rgb(54, 54, 54);
  padding: 20px;
  height: fit-content;
  margin: auto 0;
  text-align: center;
}

.section-wrapper .text-wrap h3 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

.section-wrapper .text-wrap h3::after {
  content: "";
  height: 3px;
  width: 60px;
  background-color: rgb(98, 121, 61);
  display: block;
  margin: 10px auto;
  border-radius: 2px;
}

.section-wrapper .text-wrap p {
  padding: 20px 0;
  margin: 0;
  font-weight: 400;
  line-height: 1.75;
}

.section-wrapper .text-wrap a {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 12px 27px;
  margin: 20px auto 0;
  display: block;
  max-width: 170px;
  text-align: center;
  z-index: 10;
  border: 2px solid black;
  position: relative;
  transition: 0.3s ease-in-out;
}

.section-wrapper .text-wrap a:hover {
  background-color: transparent;
  color: black;
}
