header {
  position: fixed;
  top: 0;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  z-index: 10;
}

#active {
  background-color: #e0dddd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.header-wrap {
  display: flex;
  align-items: center;
}

.main-logo a {
  text-decoration: none;
}

.main-logo a .logo {
  color: #e0dddd;
  font-size: 22px;
}

.main-logo a .logo.color {
  color: #1a1a1a;
}

nav {
  margin-left: auto;
}

.navbar {
  display: flex;
}

.navbar li {
  list-style-type: none;
  padding: 0 20px;
  margin: 20px 0;
}

.navbar li a.color {
  color: #1a1a1a;
}
.navbar li a {
  text-decoration: none;
  color: rgb(238, 233, 233);
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

.navbar li a.underline::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: rgb(98, 121, 61);
  display: block;
  transition: 0.5s ease-in-out;
}

.navbar li a.underline:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgb(98, 121, 61);
  display: block;
}

.navbar li a.underline.active::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgb(98, 121, 61);
  display: block;
}

.white {
  color: rgb(238, 233, 233);
}

.dark {
  color: #525456;
}

#mobile {
  display: none;
  margin-left: auto;
}

#close {
  display: none;
}

@media (max-width: 750px) {
  #navbar {
    background-color: rgba(0, 0, 0, 0.952);
    position: fixed;
    top: 0;
    right: -300px;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  #navbar.active {
    right: 0;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    width: 300px;
    padding: 60px 0 0 10px;
  }

  .navbar li {
    margin-bottom: 10px;
  }

  #mobile {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  #mobile button {
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  #close {
    display: flex;
    position: absolute;
    top: 30px;
  }

  #close button {
    background-color: transparent;
    cursor: pointer;
    border: none;
  }

  .navbar li a.color {
    color: white;
  }
}
