.diagonal {
  position: relative;
  isolation: isolate;
}

.diagonal::after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  top: 110px;
  right: 0;
  transform: skewY(-14deg);
  background-color: rgb(87, 86, 86);
  height: 100%;
}

.item-wrap {
  background-color: rgb(170, 169, 169);
}

.item {
  display: flex;
  padding: 150px 30px 0;
  margin: 0 auto;
  max-width: 1440px;
  justify-content: space-between;
}

.item .item-image {
  height: 650px;
  width: 40%;
  object-fit: cover;
}

.item-details {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
  margin: 0 auto;
}

.item-details h3 {
  font-size: 35px;
  font-weight: 300;
  margin: 0;
  /* max-width: 400px; */
}

.item-details h3::after {
  content: "";
  height: 2px;
  width: 40px;
  background-color: rgb(114, 114, 114);
  display: block;
  margin-top: 10px;
}

.item-details p {
  font-size: 20px;
  font-weight: 500;
}

.item input {
  max-width: 60px;
  margin-right: 7px;
  padding: 10px 0 10px 20px;
}

.item button {
  background-color: rgb(24, 24, 24);
  color: white;
  border: 1px solid rgb(24, 24, 24);
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
}

.item button:hover {
  background-color: rgb(39, 39, 39);
}

.item-details .description {
  font-weight: 300;
  color: rgb(180, 180, 180);
  text-align: justify;
}

.similar-products-wrap {
  padding: 30px 0;
  background-color: transparent;
  position: relative;
  z-index: 5;
}

.similar-items {
  padding: 0 30px;
  display: grid;

  grid-auto-flow: column;
  grid-auto-columns: 23%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 2rem;
}

.similar-item {
  scroll-snap-align: start;
}

@media (max-width: 1200px) {
  .item .item-image {
    height: 550px;
  }

  .item-details {
    width: 50%;
  }

  .similar-items {
    grid-auto-columns: 32%;
  }
}

@media (max-width: 950px) {
  .item .item-image {
    height: 450px;
    width: 50%;
  }

  .item-details h3 {
    font-size: 30px;
    font-weight: 300;
    margin: 0;
  }

  p.description {
    font-size: 16px;
  }
}

@media (max-width: 750px) {
  .item {
    flex-direction: column;
    padding: 78px 0 0;
  }

  .item .item-image {
    height: 648px;
    width: 100%;
    object-position: 50% 60%;
  }
  .item-details {
    margin-top: 50px;
    width: 100%;
  }

  .item-details p {
    margin-top: 30px;
  }

  .similar-items {
    grid-auto-columns: 42%;
  }
}

@media (max-width: 580px) {
  .item .item-image {
    height: 500px;
  }

  .similar-items {
    grid-auto-columns: 65%;
  }
}

@media (max-width: 420px) {
  .similar-items {
    grid-auto-columns: 93%;
  }

  .item .item-image {
    height: 400px;
  }

  .item-details h3 {
    font-size: 26px;
  }
}
