.white-button {
  background-color: rgba(0, 0, 0, 0.2);
  border: 2px solid white;
  color: white;
  transition: background-color 0.4s ease-in-out;
  padding: 8px 35px;
  text-decoration: none;
  font-weight: 500;
  margin-left: 60px;
  text-transform: uppercase;
  border-radius: 3px;

  text-align: center;
  max-width: 210px;
}

.white-button:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
}

@media (max-width: 590px) {
  .white-button {
    display: block;
    font-size: 16px;
    padding: 8px 20px;
    margin-left: 0;
  }
}

@media (max-width: 370px) {
  .white-button {
    padding: 8px 10px;
    font-size: 16px;
  }
}
