@import "./style/Navbar.css";
@import "./style/Home.css";
@import "./style/BestSellers.css";
@import "./style/ImageWithText.css";
@import "./style/Newsletter.css";
@import "./style/Footer.css";
@import "./style/ProductsFilter.css";
@import "./style/Shop.css";
@import "./style/ImagesSlider.css";
@import "./style/WhiteButton.css";
@import "./style/Product.css";
@import "./style/About.css";
@import "./style/Contact.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

* {
  scrollbar-color: grey #bebcbc;
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: #c4c3c3;
}

::-webkit-scrollbar-thumb {
  background-color: #707070;
  border-radius: 100vw;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(145, 143, 143);
}

body {
  margin: 0;
  padding: 0;
  background-color: #e0dddd;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

p {
  font-size: 16px;
}

@media (max-width: 920px) {
  .container {
    padding: 0 15px;
  }
}

h2 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin: 35px 0;
  color: rgb(41, 41, 41);
  text-transform: uppercase;
}

@media (max-width: 370px) {
  h2 {
    margin: 10px 0;
  }
}
