@import "./style/Navbar.css";
@import "./style/Home.css";
@import "./style/BestSellers.css";
@import "./style/ImageWithText.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e0dddd;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
}

h2 {
  font-size: 35px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  margin: 35px 0;
  color: rgb(41, 41, 41);
}

p {
  font-size: 16px;
}
